# importamos

In [1]:
import numpy as np
import pandas as pd

# creamos un dataframe
Usemos la funcion de pandas read_csv para cargar los datos. Esto crea un DataFrame, una unidad de datos en Pandas.

In [2]:
csv_original = 'DataSetNike.csv'
dataset_original = pd.read_csv(csv_original, encoding='latin-1', low_memory=False)
dataset_original

,Store,Date,No_Tran,UPC,Material,Size,Division,Global Category,Gender,Public Price,Units,Sale Price Wo tax,Tax,Sale Price,Discount,Promo,Sales Type,Emp No,Sales Man,TTL Cost
0,TIENDA 1,9/1/2017 0:00,45372,9.120108e+10,146124-VQD,L,APPAREL,NIKE SPORTSWEAR,MENS,349.0,1,150.431035,24.068966,174.50,174.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,106.418005
1,TIENDA 1,9/1/2017 0:00,52913,9.120120e+10,662009-ZQH,L,APPAREL,NIKE SPORTSWEAR,MENS,349.0,1,210.603448,33.696552,244.30,104.70,TIERED PROMOTION VALUE 30P OFF,4 - PROMOTION,NaN,274702,106.418005
2,TIENDA 1,9/1/2017 0:00,58648,9.120137e+10,990552-HCP,5.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,516.724138,82.675862,599.40,399.60,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,340843,299.220506
3,TIENDA 1,9/1/2017 0:00,58659,9.120137e+10,990552-HCP,5.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,430.603448,68.896552,499.50,499.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,340843,299.220506
4,TIENDA 1,9/1/2017 0:00,58658,9.120137e+10,990552-HCP,5.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,-599.4,-1,-516.724138,-82.675862,-599.40,0.00,,2 - RETURNS,NaN,340843,-299.220506
5,TIENDA 1,9/1/2017 0:00,58610,9.120137e+10,990552-HCP,6.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,861.206897,137.793103,999.00,0.00,,1 - NORMAL,NaN,340843,299.220506
6,TIENDA 1,9/1/2017 0:00,52924,9.120137e+10,990552-HCP,6.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,482.275862,77.164138,559.44,439.56,TIERED PROMOTION VALUE 20P OFF,5 - EMPLOYEE DISCOUNT,338083,274702,299.220506
7,TIENDA 1,9/1/2017 0:00,52846,9.120137e+10,990552-HCP,7.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,301.422414,48.227586,349.65,649.35,TIERED PROMOTION VALUE 50P OFF,5 - EMPLOYEE DISCOUNT,185634,274702,299.220506
8,TIENDA 1,9/1/2017 0:00,52846,9.120141e+10,662014-IQQ,M,APPAREL,NIKE SPORTSWEAR,WOMENS,249.0,1,75.129310,12.020690,87.15,161.85,TIERED PROMOTION VALUE 50P OFF,5 - EMPLOYEE DISCOUNT,185634,274702,98.535730
9,TIENDA 1,9/1/2017 0:00,58690,9.120150e+10,327277-NNV,S,APPAREL,NIKE SPORTSWEAR,WOMENS,449.0,1,309.655172,49.544828,359.20,89.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,340843,171.137170
10,TIENDA 1,9/1/2017 0:00,45397,9.120249e+10,659994-MAU,7,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,-899.4,-1,-775.344828,-124.055172,-899.40,0.00,,2 - RETURNS,NaN,357477,-582.064528
11,TIENDA 1,9/1/2017 0:00,52970,9.120249e+10,659994-MAU,7,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,1499.0,1,1033.793103,165.406897,1199.20,299.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,274702,582.064528
12,TIENDA 1,9/1/2017 0:00,45499,9.120254e+10,212577-XEF,XS,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,301.293104,48.206897,349.50,349.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,287.652064
13,TIENDA 1,9/1/2017 0:00,58659,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,1398.0,2,602.586207,96.413793,699.00,699.00,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,340843,575.304129
14,TIENDA 1,9/1/2017 0:00,58648,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,1398.0,2,723.103448,115.696552,838.80,559.20,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,340843,575.304129
15,TIENDA 1,9/1/2017 0:00,45523,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,342.258621,54.761379,397.02,301.98,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,357477,287.652064
16,TIENDA 1,9/1/2017 0:00,58658,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,-838.8,-2,-723.103448,-115.696552,-838.80,0.00,,2 - RETURNS,NaN,340843,-575.304129
17,TIENDA 1,9/1/2017 0:00,52846,9.120254e+10,212577-XEF,M,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,210.905172,33.744828,244.65,454.35,TIERED PROMOTION VALUE 50P OFF,5 - EMPLOYEE DISCOUNT,185634,274702,287.652064
18,TIENDA 1,9/1/2017 0:00,52937,9.120254e+10,212577-XEF,M,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,482.068966,77.131034,559.20,139.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,274702,287.652064
19,TIENDA 1,9/1/2017 0:00,58659,9.120254e+10,212577-XEF,L,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,301.293104,48.206897,349.50,349.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,340843,287.652064
20,TIENDA 1,9/1/2017 0:00,58648,9.120254e+10,212577-XEF,L,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,361.551724,57.848276,419.40,279.60,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,340843,287.652064
21,TIENDA 1,9/1/2017 0:00,58658,9.120254e+10,212577-XEF,L,APPAREL,NIKE SPORTSWEAR,WOMENS,-419.4,-1,-361.551724,-57.848276,-419.40,0.00,,2 - RETURNS,NaN,340843,-287.652064
22,TIENDA 1,9/1/2017 0:00,45470,9.120297e+10,163605-LET,9,FOOTWEAR,FOOTBALL/SOCCER,MENS,1199.0,1,413.448276,66.151724,479.60,719.40,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,716.165201
23,TIENDA 1,9/1/2017 0:00,45417,9.120321e+10,660689-PGX,7,FOOTWEAR,NIKE SPORTSWEAR,MENS,-999.5,-1,-861.637931,-137.862069,-999.50,0.00,,2 - RETURNS,NaN,357477,-1020.470576
24,TIENDA 1,9/1/2017 0:00,45391,9.120321e+10,660689-PGX,7,FOOTWEAR,NIKE SPORTSWEAR,MENS,1999.0,1,861.637931,137.862069,999.50,999.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,1020.470576
25,TIENDA 1,9/1/2017 0:00,45418,9.120321e+10,660689-PGX,8,FOOTWEAR,NIKE SPORTSWEAR,MENS,999.5,1,861.637931,137.862069,999.50,0.00,,1 - NORMAL,NaN,357477,1020.470576
26,TIENDA 1,9/1/2017 0:00,45390,9.120321e+10,760862-QGY,9,FOOTWEAR,NIKE SPORTSWEAR,MENS,-1199.4,-1,-1033.965517,-165.434483,-1199.40,0.00,,2 - RETURNS,NaN,357477,-1015.662533
27,TIENDA 1,9/1/2017 0:00,52954,9.120365e+10,163518-KCS,6.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,849.0,1,731.896552,117.103448,849.00,0.00,,1 - NORMAL,NaN,274702,359.554153
28,TIENDA 1,9/1/2017 0:00,45461,9.120365e+10,163518-KCS,7,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,849.0,1,365.948276,58.551724,424.50,424.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,359.554153
29,TIENDA 1,9/1/2017 0:00,52931,9.120365e+10,163518-KCS,8,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,849.0,1,585.517241,93.682759,679.20,169.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,274702,359.554153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263657,TIENDA 1,9/30/2018 0:00,26144,8.880000e+11,661984-GQO,S,APPAREL,NIKE SPORTSWEAR,MENS,599.0,1,289.172414,46.267586,335.44,263.56,Store Level Promotion,4 - PROMOTION,NaN,362045,241.582276
263658,TIENDA 1,9/30/2018 0:00,26197,8.880000e+11,661984-GQO,M,APPAREL,NIKE SPORTSWEAR,MENS,599.0,1,289.172414,46.267586,335.44,263.56,Store Level Promotion,4 - PROMOTION,NaN,409947,241.582276
263659,TIENDA 1,9/30/2018 0:00,3142,8.880000e+11,661984-GQO,L,APPAREL,NIKE SPORTSWEAR,MENS,599.0,1,289.172414,46.267586,335.44,263.56,Store Level Promotion,4 - PROMOTION,NaN,269303,241.582276
263660,TIENDA 1,9/30/2018 0:00,689,8.880000e+11,762578-QRY,XL,APPAREL,NIKE SPORTSWEAR,MENS,649.0,1,391.637931,62.662069,454.30,194.70,MX NFS 30P OFF,4 - PROMOTION,NaN,351388,306.476279
263661,TIENDA 1,9/30/2018 0:00,19279,8.880000e+11,215577-STA,XL,APPAREL,NIKE SPORTSWEAR,MENS,549.0,1,331.293103,53.006897,384.30,164.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,215.196322
263662,TIENDA 1,9/30/2018 0:00,19263,8.880000e+11,454287-YNG,S,APPAREL,RUNNING,MENS,1099.0,1,606.344828,97.015172,703.36,395.64,Store Level Promotion,4 - PROMOTION,NaN,312652,389.189178
263663,TIENDA 1,9/30/2018 0:00,26200,8.880000e+11,994341-ATI,M,APPAREL,RUNNING,MENS,549.0,1,331.293103,53.006897,384.30,164.70,MX NFS 30P OFF,4 - PROMOTION,NaN,409947,211.495587
263664,TIENDA 1,9/30/2018 0:00,95006,8.880000e+11,994341-ATI,M,APPAREL,RUNNING,MENS,549.0,1,331.293103,53.006897,384.30,164.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,211.495587
263665,TIENDA 1,9/30/2018 0:00,95017,8.880000e+11,146194-BTJ,L,APPAREL,RUNNING,MENS,599.0,1,464.741379,74.358621,539.10,59.90,MX NFS 10P OFF,4 - PROMOTION,NaN,318683,169.549059
263666,TIENDA 1,9/30/2018 0:00,26174,8.880000e+11,573867-VWD,S,APPAREL,RUNNING,MENS,799.0,1,385.724138,61.715862,447.44,351.56,Store Level Promotion,4 - PROMOTION,NaN,362045,306.476279
263667,TIENDA 1,9/30/2018 0:00,95018,8.880000e+11,573867-VWD,XL,APPAREL,RUNNING,MENS,799.0,1,385.724138,61.715862,447.44,351.56,Store Level Promotion,4 - PROMOTION,NaN,318683,306.476279
263668,TIENDA 1,9/30/2018 0:00,95075,8.880000e+11,572999-XRF,L,APPAREL,RUNNING,WOMENS,899.0,1,542.500000,86.800000,629.30,269.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,357.164702
263669,TIENDA 1,9/30/2018 0:00,94928,8.880000e+11,662089-NRV,S,APPAREL,RUNNING,MENS,799.0,1,482.155172,77.144828,559.30,239.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,313.309527
263670,TIENDA 1,9/30/2018 0:00,19329,8.880000e+11,215145-ARI,M,APPAREL,RUNNING,MENS,599.0,1,361.465517,57.834483,419.30,179.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,230.013835
263671,TIENDA 1,9/30/2018 0:00,19305,8.880000e+11,215145-ARI,L,APPAREL,RUNNING,MENS,599.0,1,361.465517,57.834483,419.30,179.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,230.013835
263672,TIENDA 1,9/30/2018 0:00,95080,8.880000e+11,662114-GRO,S,APPAREL,RUNNING,MENS,899.0,1,542.500000,86.800000,629.30,269.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,297.297289
263673,TIENDA 1,9/30/2018 0:00,3111,8.880000e+11,662114-GRO,S,APPAREL,RUNNING,MENS,899.0,1,542.500000,86.800000,629.30,269.70,MX NFS 30P OFF,4 - PROMOTION,NaN,269303,297.297289
263674,TIENDA 1,9/30/2018 0:00,19309,8.880000e+11,573048-IRQ,S,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,298.331746
263675,TIENDA 1,9/30/2018 0:00,95070,8.880000e+11,573048-IRQ,M,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,298.331746
263676,TIENDA 1,9/30/2018 0:00,3111,8.880000e+11,573048-IRQ,M,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,269303,298.331746
263677,TIENDA 1,9/30/2018 0:00,19281,8.880000e+11,573048-IRQ,L,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,298.331746
263678,TIENDA 1,9/30/2018 0:00,26133,8.880000e+11,573048-IRQ,L,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,362045,298.331746
263679,TIENDA 1,9/30/2018 0:00,19302,8.880000e+11,573202-YSG,M,APPAREL,RUNNING,WOMENS,649.0,1,391.637931,62.662069,454.30,194.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,272.703423
263680,TIENDA 1,9/30/2018 0:00,26111,8.880000e+11,573657-LUT,M,APPAREL,RUNNING,WOMENS,799.0,1,385.724138,61.715862,447.44,351.56,Store Level Promotion,4 - PROMOTION,NaN,362045,219.348722
263681,TIENDA 1,9/30/2018 0:00,19384,8.880000e+11,662699-TWB,7,FOOTWEAR,NIKE SPORTSWEAR,MENS,1799.0,1,868.482759,138.957241,1007.44,791.56,Store Level Promotion,4 - PROMOTION,NaN,312652,541.531273
263682,TIENDA 1,9/30/2018 0:00,3142,8.880000e+11,662829-TXB,S,APPAREL,FOOTBALL/SOCCER,MENS,1099.0,1,371.379310,59.420690,430.80,668.20,Store Level Promotion,4 - PROMOTION,NaN,269303,475.442545
263683,TIENDA 1,9/30/2018 0:00,26164,8.890000e+11,164064-KKS,S,APPAREL,NIKE SPORTSWEAR,WOMENS,2699.0,1,1302.965517,208.474483,1511.44,1187.56,Store Level Promotion,4 - PROMOTION,NaN,362045,1379.849891
263684,TIENDA 1,9/30/2018 0:00,95090,8.890000e+11,327345-HOP,XL,APPAREL,BASKETBALL,MENS,379.0,1,228.706897,36.593103,265.30,113.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,561.011130
263685,TIENDA 1,9/30/2018 0:00,3075,8.890000e+11,164436-IOQ,M,APPAREL,BASKETBALL,MENS,379.0,1,228.706897,36.593103,265.30,113.70,MX NFS 30P OFF,4 - PROMOTION,NaN,269303,143.935306
263686,TIENDA 1,9/30/2018 0:00,26174,8.890000e+11,164436-IOQ,M,APPAREL,BASKETBALL,MENS,379.0,1,228.706897,36.593103,265.30,113.70,MX NFS 30P OFF,4 - PROMOTION,NaN,362045,143.935306

# Observaciones:
 Solo se utilizaron las columnas: Material, Date y Units

Se eliminaron los registros(filas) donde la variable Material estaba vaca. 228 registros.

Se eliminaron los registros donde la variable Units era menor a 1 . 5561 registros.

La columna Material se renombr a CDIGO.

Verificar que los tipos de datos de las columnas sean iguales a los del dataset deseado.

In [3]:
dataset_original.columns

Index(['Store', 'Date', 'No_Tran', 'UPC', 'Material', 'Size', 'Division',
       'Global Category', 'Gender', 'Public Price', 'Units',
       'Sale Price Wo tax', 'Tax', 'Sale Price', 'Discount', 'Promo',
       'Sales Type ', 'Emp No', 'Sales Man', 'TTL Cost'],
      dtype='object')

# creamos un nuevo frame con  las columnas 'Material','Date','Units'

In [4]:
nuevo_frame=dataset_original[['Material','Date','Units']]
nuevo_frame

          Material            Date  Units
0       146124-VQD   9/1/2017 0:00      1
1       662009-ZQH   9/1/2017 0:00      1
2       990552-HCP   9/1/2017 0:00      1
3       990552-HCP   9/1/2017 0:00      1
4       990552-HCP   9/1/2017 0:00     -1
5       990552-HCP   9/1/2017 0:00      1
6       990552-HCP   9/1/2017 0:00      1
7       990552-HCP   9/1/2017 0:00      1
8       662014-IQQ   9/1/2017 0:00      1
9       327277-NNV   9/1/2017 0:00      1
10      659994-MAU   9/1/2017 0:00     -1
11      659994-MAU   9/1/2017 0:00      1
12      212577-XEF   9/1/2017 0:00      1
13      212577-XEF   9/1/2017 0:00      2
14      212577-XEF   9/1/2017 0:00      2
15      212577-XEF   9/1/2017 0:00      1
16      212577-XEF   9/1/2017 0:00     -2
17      212577-XEF   9/1/2017 0:00      1
18      212577-XEF   9/1/2017 0:00      1
19      212577-XEF   9/1/2017 0:00      1
20      212577-XEF   9/1/2017 0:00      1
21      212577-XEF   9/1/2017 0:00     -1
22      163605-LET   9/1/2017 0:00      1
23      660689-PGX   9/1/2017 0:00     -1
24      660689-PGX   9/1/2017 0:00      1
25      660689-PGX   9/1/2017 0:00      1
26      760862-QGY   9/1/2017 0:00     -1
27      163518-KCS   9/1/2017 0:00      1
28      163518-KCS   9/1/2017 0:00      1
29      163518-KCS   9/1/2017 0:00      1
...            ...             ...    ...
263657  661984-GQO  9/30/2018 0:00      1
263658  661984-GQO  9/30/2018 0:00      1
263659  661984-GQO  9/30/2018 0:00      1
263660  762578-QRY  9/30/2018 0:00      1
263661  215577-STA  9/30/2018 0:00      1
263662  454287-YNG  9/30/2018 0:00      1
263663  994341-ATI  9/30/2018 0:00      1
263664  994341-ATI  9/30/2018 0:00      1
263665  146194-BTJ  9/30/2018 0:00      1
263666  573867-VWD  9/30/2018 0:00      1
263667  573867-VWD  9/30/2018 0:00      1
263668  572999-XRF  9/30/2018 0:00      1
263669  662089-NRV  9/30/2018 0:00      1
263670  215145-ARI  9/30/2018 0:00      1
263671  215145-ARI  9/30/2018 0:00      1
263672  662114-GRO  9/30/2018 0:00      1
263673  662114-GRO  9/30/2018 0:00      1
263674  573048-IRQ  9/30/2018 0:00      1
263675  573048-IRQ  9/30/2018 0:00      1
263676  573048-IRQ  9/30/2018 0:00      1
263677  573048-IRQ  9/30/2018 0:00      1
263678  573048-IRQ  9/30/2018 0:00      1
263679  573202-YSG  9/30/2018 0:00      1
263680  573657-LUT  9/30/2018 0:00      1
263681  662699-TWB  9/30/2018 0:00      1
263682  662829-TXB  9/30/2018 0:00      1
263683  164064-KKS  9/30/2018 0:00      1
263684  327345-HOP  9/30/2018 0:00      1
263685  164436-IOQ  9/30/2018 0:00      1
263686  164436-IOQ  9/30/2018 0:00      1

[263687 rows x 3 columns]

# Se eliminaron los registros(filas) donde la variable Material estaba vaca. 228 registros.

In [5]:
nuevo_frame['Material'].replace('',np.nan,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [6]:
nuevo_frame
nuevo_frame.dropna(subset=['Material'], inplace=True)
nuevo_frame

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          Material            Date  Units
0       146124-VQD   9/1/2017 0:00      1
1       662009-ZQH   9/1/2017 0:00      1
2       990552-HCP   9/1/2017 0:00      1
3       990552-HCP   9/1/2017 0:00      1
4       990552-HCP   9/1/2017 0:00     -1
5       990552-HCP   9/1/2017 0:00      1
6       990552-HCP   9/1/2017 0:00      1
7       990552-HCP   9/1/2017 0:00      1
8       662014-IQQ   9/1/2017 0:00      1
9       327277-NNV   9/1/2017 0:00      1
10      659994-MAU   9/1/2017 0:00     -1
11      659994-MAU   9/1/2017 0:00      1
12      212577-XEF   9/1/2017 0:00      1
13      212577-XEF   9/1/2017 0:00      2
14      212577-XEF   9/1/2017 0:00      2
15      212577-XEF   9/1/2017 0:00      1
16      212577-XEF   9/1/2017 0:00     -2
17      212577-XEF   9/1/2017 0:00      1
18      212577-XEF   9/1/2017 0:00      1
19      212577-XEF   9/1/2017 0:00      1
20      212577-XEF   9/1/2017 0:00      1
21      212577-XEF   9/1/2017 0:00     -1
22      163605-LET   9/1/2017 0:00      1
23      660689-PGX   9/1/2017 0:00     -1
24      660689-PGX   9/1/2017 0:00      1
25      660689-PGX   9/1/2017 0:00      1
26      760862-QGY   9/1/2017 0:00     -1
27      163518-KCS   9/1/2017 0:00      1
28      163518-KCS   9/1/2017 0:00      1
29      163518-KCS   9/1/2017 0:00      1
...            ...             ...    ...
263657  661984-GQO  9/30/2018 0:00      1
263658  661984-GQO  9/30/2018 0:00      1
263659  661984-GQO  9/30/2018 0:00      1
263660  762578-QRY  9/30/2018 0:00      1
263661  215577-STA  9/30/2018 0:00      1
263662  454287-YNG  9/30/2018 0:00      1
263663  994341-ATI  9/30/2018 0:00      1
263664  994341-ATI  9/30/2018 0:00      1
263665  146194-BTJ  9/30/2018 0:00      1
263666  573867-VWD  9/30/2018 0:00      1
263667  573867-VWD  9/30/2018 0:00      1
263668  572999-XRF  9/30/2018 0:00      1
263669  662089-NRV  9/30/2018 0:00      1
263670  215145-ARI  9/30/2018 0:00      1
263671  215145-ARI  9/30/2018 0:00      1
263672  662114-GRO  9/30/2018 0:00      1
263673  662114-GRO  9/30/2018 0:00      1
263674  573048-IRQ  9/30/2018 0:00      1
263675  573048-IRQ  9/30/2018 0:00      1
263676  573048-IRQ  9/30/2018 0:00      1
263677  573048-IRQ  9/30/2018 0:00      1
263678  573048-IRQ  9/30/2018 0:00      1
263679  573202-YSG  9/30/2018 0:00      1
263680  573657-LUT  9/30/2018 0:00      1
263681  662699-TWB  9/30/2018 0:00      1
263682  662829-TXB  9/30/2018 0:00      1
263683  164064-KKS  9/30/2018 0:00      1
263684  327345-HOP  9/30/2018 0:00      1
263685  164436-IOQ  9/30/2018 0:00      1
263686  164436-IOQ  9/30/2018 0:00      1

[263459 rows x 3 columns]

# Se eliminaron los registros donde la variable Units era menor a 1 . 5561 registros.

In [7]:
nuevo_frame = nuevo_frame.drop(nuevo_frame[nuevo_frame['Units']<1].index)
nuevo_frame

          Material            Date  Units
0       146124-VQD   9/1/2017 0:00      1
1       662009-ZQH   9/1/2017 0:00      1
2       990552-HCP   9/1/2017 0:00      1
3       990552-HCP   9/1/2017 0:00      1
5       990552-HCP   9/1/2017 0:00      1
6       990552-HCP   9/1/2017 0:00      1
7       990552-HCP   9/1/2017 0:00      1
8       662014-IQQ   9/1/2017 0:00      1
9       327277-NNV   9/1/2017 0:00      1
11      659994-MAU   9/1/2017 0:00      1
12      212577-XEF   9/1/2017 0:00      1
13      212577-XEF   9/1/2017 0:00      2
14      212577-XEF   9/1/2017 0:00      2
15      212577-XEF   9/1/2017 0:00      1
17      212577-XEF   9/1/2017 0:00      1
18      212577-XEF   9/1/2017 0:00      1
19      212577-XEF   9/1/2017 0:00      1
20      212577-XEF   9/1/2017 0:00      1
22      163605-LET   9/1/2017 0:00      1
24      660689-PGX   9/1/2017 0:00      1
25      660689-PGX   9/1/2017 0:00      1
27      163518-KCS   9/1/2017 0:00      1
28      163518-KCS   9/1/2017 0:00      1
29      163518-KCS   9/1/2017 0:00      1
30      163518-KCS   9/1/2017 0:00      1
31      453195-LCT   9/1/2017 0:00      1
32      453195-LCT   9/1/2017 0:00      1
33      453195-LCT   9/1/2017 0:00      1
34      990849-SEA   9/1/2017 0:00      1
35      990867-KES   9/1/2017 0:00      1
...            ...             ...    ...
263657  661984-GQO  9/30/2018 0:00      1
263658  661984-GQO  9/30/2018 0:00      1
263659  661984-GQO  9/30/2018 0:00      1
263660  762578-QRY  9/30/2018 0:00      1
263661  215577-STA  9/30/2018 0:00      1
263662  454287-YNG  9/30/2018 0:00      1
263663  994341-ATI  9/30/2018 0:00      1
263664  994341-ATI  9/30/2018 0:00      1
263665  146194-BTJ  9/30/2018 0:00      1
263666  573867-VWD  9/30/2018 0:00      1
263667  573867-VWD  9/30/2018 0:00      1
263668  572999-XRF  9/30/2018 0:00      1
263669  662089-NRV  9/30/2018 0:00      1
263670  215145-ARI  9/30/2018 0:00      1
263671  215145-ARI  9/30/2018 0:00      1
263672  662114-GRO  9/30/2018 0:00      1
263673  662114-GRO  9/30/2018 0:00      1
263674  573048-IRQ  9/30/2018 0:00      1
263675  573048-IRQ  9/30/2018 0:00      1
263676  573048-IRQ  9/30/2018 0:00      1
263677  573048-IRQ  9/30/2018 0:00      1
263678  573048-IRQ  9/30/2018 0:00      1
263679  573202-YSG  9/30/2018 0:00      1
263680  573657-LUT  9/30/2018 0:00      1
263681  662699-TWB  9/30/2018 0:00      1
263682  662829-TXB  9/30/2018 0:00      1
263683  164064-KKS  9/30/2018 0:00      1
263684  327345-HOP  9/30/2018 0:00      1
263685  164436-IOQ  9/30/2018 0:00      1
263686  164436-IOQ  9/30/2018 0:00      1

[257898 rows x 3 columns]

# La columna Material se renombr a CDIGO.

Verificar que los tipos de datos de las columnas sean iguales a los del dataset deseado

In [8]:
nuevo_frame.rename(columns={"Material":"CDIGO"},inplace=True)
nuevo_frame

            CDIGO            Date  Units
0       146124-VQD   9/1/2017 0:00      1
1       662009-ZQH   9/1/2017 0:00      1
2       990552-HCP   9/1/2017 0:00      1
3       990552-HCP   9/1/2017 0:00      1
5       990552-HCP   9/1/2017 0:00      1
6       990552-HCP   9/1/2017 0:00      1
7       990552-HCP   9/1/2017 0:00      1
8       662014-IQQ   9/1/2017 0:00      1
9       327277-NNV   9/1/2017 0:00      1
11      659994-MAU   9/1/2017 0:00      1
12      212577-XEF   9/1/2017 0:00      1
13      212577-XEF   9/1/2017 0:00      2
14      212577-XEF   9/1/2017 0:00      2
15      212577-XEF   9/1/2017 0:00      1
17      212577-XEF   9/1/2017 0:00      1
18      212577-XEF   9/1/2017 0:00      1
19      212577-XEF   9/1/2017 0:00      1
20      212577-XEF   9/1/2017 0:00      1
22      163605-LET   9/1/2017 0:00      1
24      660689-PGX   9/1/2017 0:00      1
25      660689-PGX   9/1/2017 0:00      1
27      163518-KCS   9/1/2017 0:00      1
28      163518-KCS   9/1/2017 0:00      1
29      163518-KCS   9/1/2017 0:00      1
30      163518-KCS   9/1/2017 0:00      1
31      453195-LCT   9/1/2017 0:00      1
32      453195-LCT   9/1/2017 0:00      1
33      453195-LCT   9/1/2017 0:00      1
34      990849-SEA   9/1/2017 0:00      1
35      990867-KES   9/1/2017 0:00      1
...            ...             ...    ...
263657  661984-GQO  9/30/2018 0:00      1
263658  661984-GQO  9/30/2018 0:00      1
263659  661984-GQO  9/30/2018 0:00      1
263660  762578-QRY  9/30/2018 0:00      1
263661  215577-STA  9/30/2018 0:00      1
263662  454287-YNG  9/30/2018 0:00      1
263663  994341-ATI  9/30/2018 0:00      1
263664  994341-ATI  9/30/2018 0:00      1
263665  146194-BTJ  9/30/2018 0:00      1
263666  573867-VWD  9/30/2018 0:00      1
263667  573867-VWD  9/30/2018 0:00      1
263668  572999-XRF  9/30/2018 0:00      1
263669  662089-NRV  9/30/2018 0:00      1
263670  215145-ARI  9/30/2018 0:00      1
263671  215145-ARI  9/30/2018 0:00      1
263672  662114-GRO  9/30/2018 0:00      1
263673  662114-GRO  9/30/2018 0:00      1
263674  573048-IRQ  9/30/2018 0:00      1
263675  573048-IRQ  9/30/2018 0:00      1
263676  573048-IRQ  9/30/2018 0:00      1
263677  573048-IRQ  9/30/2018 0:00      1
263678  573048-IRQ  9/30/2018 0:00      1
263679  573202-YSG  9/30/2018 0:00      1
263680  573657-LUT  9/30/2018 0:00      1
263681  662699-TWB  9/30/2018 0:00      1
263682  662829-TXB  9/30/2018 0:00      1
263683  164064-KKS  9/30/2018 0:00      1
263684  327345-HOP  9/30/2018 0:00      1
263685  164436-IOQ  9/30/2018 0:00      1
263686  164436-IOQ  9/30/2018 0:00      1

[257898 rows x 3 columns]

# Verificar que los tipos de datos de las columnas sean iguales a los del dataset deseado

In [9]:
def quality_report(data):

    """This method will do a basic data quality report for a data frame"""
        
    if (type(data) != pd.core.frame.DataFrame):
        raise TypeError("Data must be pandas.core.frame.DataFrame")
    else: 
        columns = list(data.columns.values)
        data_type = pd.DataFrame(data.dtypes, columns=['Data type'])
        missing_data = pd.DataFrame(
        data.isnull().sum(), columns=['missing values'])
        present_data = pd.DataFrame(data.count(), columns=['present values'])
        unique_values = pd.DataFrame(columns=['unique values'])
        minimum_values = pd.DataFrame(columns=['minimum values'])
        max_values = pd.DataFrame(columns=['maximun values'])
        
        for i in columns:
            unique_values.loc[i] = [data[i].nunique()]
            try:
                minimum_values.loc[i] = [data[i].min()]
                max_values.loc[i] = [data[i].max()]
            except:
                pass
        
        DQ_report = data_type.join(missing_data).join(present_data).join(
        unique_values).join(minimum_values).join(max_values)
    
    return DQ_report

# separamos la columa de Date y la convertimos a tipo fecha

In [10]:
fecha=nuevo_frame['Date']
fecha= pd.to_datetime(fecha)

In [11]:
year=fecha.dt.year
months=fecha.dt.month
nuevo_frame=nuevo_frame.assign(AO=year.values,Meses=months.values)
nuevo_frame

            CDIGO            Date  Units   AO  Meses
0       146124-VQD   9/1/2017 0:00      1  2017      9
1       662009-ZQH   9/1/2017 0:00      1  2017      9
2       990552-HCP   9/1/2017 0:00      1  2017      9
3       990552-HCP   9/1/2017 0:00      1  2017      9
5       990552-HCP   9/1/2017 0:00      1  2017      9
6       990552-HCP   9/1/2017 0:00      1  2017      9
7       990552-HCP   9/1/2017 0:00      1  2017      9
8       662014-IQQ   9/1/2017 0:00      1  2017      9
9       327277-NNV   9/1/2017 0:00      1  2017      9
11      659994-MAU   9/1/2017 0:00      1  2017      9
12      212577-XEF   9/1/2017 0:00      1  2017      9
13      212577-XEF   9/1/2017 0:00      2  2017      9
14      212577-XEF   9/1/2017 0:00      2  2017      9
15      212577-XEF   9/1/2017 0:00      1  2017      9
17      212577-XEF   9/1/2017 0:00      1  2017      9
18      212577-XEF   9/1/2017 0:00      1  2017      9
19      212577-XEF   9/1/2017 0:00      1  2017      9
20      212577-XEF   9/1/2017 0:00      1  2017      9
22      163605-LET   9/1/2017 0:00      1  2017      9
24      660689-PGX   9/1/2017 0:00      1  2017      9
25      660689-PGX   9/1/2017 0:00      1  2017      9
27      163518-KCS   9/1/2017 0:00      1  2017      9
28      163518-KCS   9/1/2017 0:00      1  2017      9
29      163518-KCS   9/1/2017 0:00      1  2017      9
30      163518-KCS   9/1/2017 0:00      1  2017      9
31      453195-LCT   9/1/2017 0:00      1  2017      9
32      453195-LCT   9/1/2017 0:00      1  2017      9
33      453195-LCT   9/1/2017 0:00      1  2017      9
34      990849-SEA   9/1/2017 0:00      1  2017      9
35      990867-KES   9/1/2017 0:00      1  2017      9
...            ...             ...    ...   ...    ...
263657  661984-GQO  9/30/2018 0:00      1  2018      9
263658  661984-GQO  9/30/2018 0:00      1  2018      9
263659  661984-GQO  9/30/2018 0:00      1  2018      9
263660  762578-QRY  9/30/2018 0:00      1  2018      9
263661  215577-STA  9/30/2018 0:00      1  2018      9
263662  454287-YNG  9/30/2018 0:00      1  2018      9
263663  994341-ATI  9/30/2018 0:00      1  2018      9
263664  994341-ATI  9/30/2018 0:00      1  2018      9
263665  146194-BTJ  9/30/2018 0:00      1  2018      9
263666  573867-VWD  9/30/2018 0:00      1  2018      9
263667  573867-VWD  9/30/2018 0:00      1  2018      9
263668  572999-XRF  9/30/2018 0:00      1  2018      9
263669  662089-NRV  9/30/2018 0:00      1  2018      9
263670  215145-ARI  9/30/2018 0:00      1  2018      9
263671  215145-ARI  9/30/2018 0:00      1  2018      9
263672  662114-GRO  9/30/2018 0:00      1  2018      9
263673  662114-GRO  9/30/2018 0:00      1  2018      9
263674  573048-IRQ  9/30/2018 0:00      1  2018      9
263675  573048-IRQ  9/30/2018 0:00      1  2018      9
263676  573048-IRQ  9/30/2018 0:00      1  2018      9
263677  573048-IRQ  9/30/2018 0:00      1  2018      9
263678  573048-IRQ  9/30/2018 0:00      1  2018      9
263679  573202-YSG  9/30/2018 0:00      1  2018      9
263680  573657-LUT  9/30/2018 0:00      1  2018      9
263681  662699-TWB  9/30/2018 0:00      1  2018      9
263682  662829-TXB  9/30/2018 0:00      1  2018      9
263683  164064-KKS  9/30/2018 0:00      1  2018      9
263684  327345-HOP  9/30/2018 0:00      1  2018      9
263685  164436-IOQ  9/30/2018 0:00      1  2018      9
263686  164436-IOQ  9/30/2018 0:00      1  2018      9

[257898 rows x 5 columns]

# borramos la columna date

In [12]:
nuevo_frame=nuevo_frame.drop(['Date'],axis=1)

In [13]:
""""nuevo_frame['Units'] = nuevo_frame['Units'].fillna(0).astype(np.int64)
quality_report(nuevo_frame)"""

'"nuevo_frame[\'Units\'] = nuevo_frame[\'Units\'].fillna(0).astype(np.int64)\nquality_report(nuevo_frame)'

In [14]:
nuevo_frame=pd.pivot_table(nuevo_frame,values='Units',index=['CDIGO','AO'],columns=['Meses'],aggfunc = np.sum, fill_value=0)
nuevo_frame = nuevo_frame.reset_index()
nuevo_frame

Meses      CDIGO   AO    1   2   3   4   5   6   7    8    9  10  11  12
0      145698-JAR  2018    0   0   0   0   0   0   0    0    1   0   0   0
1      145699-SAA  2018    0   0   0   0   0   0   0    8    1   0   0   0
2      145700-BAJ  2018   99   2   2   0   0   0   0    0    0   0   0   0
3      145701-KAS  2017    0   0   0   0   0   0   0    0    0   0   1   0
4      145702-TAB  2017    0   0   0   0   0   0   0    0    0  14   4   0
5      145703-CAK  2017    0   0   0   0   0   0   0    0    0   1   7   1
6      145703-CAK  2018    0   0   0   0   0   0   2    0    0   0   0   0
7      145704-LAT  2018    0  61  37   8   1   5   4    0    0   0   0   0
8      145705-UAC  2017    0   0   0   0   0   0   0    0    1   0   0   0
9      145706-DAL  2017    0   0   0   0   0   0   0    0    0   0  35   0
10     145707-MAU  2017    0   0   0   0   0   0   0    0   16   9  25   2
11     145708-VAD  2017    0   0   0   0   0   0   0    0    2   0   0   1
12     145708-VAD  2018    3   0   0   0   0   0   0    0    0   0   0   0
13     145709-EAM  2018    0   0   0   0   0   0   0    0    1   0   0   0
14     145710-NAV  2017    0   0   0   0   0   0   0    0    1   1   3   4
15     145710-NAV  2018    0   2   1   4   6   6   4    0    0   0   0   0
16     145711-WAE  2018    0   0   6   0   0   0   0    0    0   0   0   0
17     145712-FAN  2017    0   0   0   0   0   0   0    0    0   1   2   0
18     145712-FAN  2018    0   0   1   0   0   0   0    0    0   0   0   0
19     145713-OAW  2018    0   0   1   0   0   0   0    0    0   0   0   0
20     145714-XAF  2017    0   0   0   0   0   0   0    0    0   0  43  61
21     145714-XAF  2018    2   0   0   0   1   0   0    0    0   0   0   0
22     145715-GAO  2017    0   0   0   0   0   0   0    0    0   0  18  74
23     145715-GAO  2018    2   0   3   0   0   1   0    0    0   0   0   0
24     145716-PAX  2018    0  12   9   0   0   0   0    0    0   0   0   0
25     145717-YAG  2018    0  96   4   0   0  10  40   50    0   0   0   0
26     145718-HAP  2018    0   5   1  23  39   8   6    0    0   0   0   0
27     145719-QAY  2017    0   0   0   0   0   0   0    0    8   3  24   6
28     145719-QAY  2018    7   0   0   0   0   2   7    8    4   0   0   0
29     145720-ZAH  2018    0   0   0   0   0   0   0  103   96   0   0   0
...           ...   ...  ...  ..  ..  ..  ..  ..  ..  ...  ...  ..  ..  ..
7847   995691-YZG  2018    1   1   0   0   0   0   0    0    0   0   0   0
7848   995700-HZP  2018    3  34  47  33  17   0   0    0    0   0   0   0
7849   995709-QZY  2018    4   0   0   0   2   0   0    0    0   0   0   0
7850   995718-ZZH  2017    0   0   0   0   0   0   0    0    1   3   3   0
7851   995718-ZZH  2018    0   0   0   0   1   0   2    0    0   0   0   0
7852   995727-IZQ  2017    0   0   0   0   0   0   0    0    0   1   0   0
7853   995736-RZZ  2017    0   0   0   0   0   0   0    0    1   3  10   1
7854   995736-RZZ  2018    3   0   0   5   1   1   1    0    0   0   0   0
7855   995745-AZI  2017    0   0   0   0   0   0   0    0    3   4   0   0
7856   995754-JZR  2017    0   0   0   0   0   0   0    0    1   0   0   0
7857   995763-SZA  2017    0   0   0   0   0   0   0    0    2   2   0   0
7858   995772-BZJ  2017    0   0   0   0   0   0   0    0    0   0   0   1
7859   995772-BZJ  2018    9   1   8   0   0   0   1    0    4   0   0   0
7860   995781-KZS  2017    0   0   0   0   0   0   0    0    0   0   0   1
7861   995781-KZS  2018    4   0   0   3   4   2   5    2    0   0   0   0
7862   995790-TZB  2017    0   0   0   0   0   0   0    0    0   0   0   5
7863   995790-TZB  2018  137  79  94  14  42  15  45   51   29   0   0   0
7864   995799-CZK  2018    0   0   0   0   4   1   2    1    2   0   0   0
7865   995808-LZT  2018    0   0   0   0   0   0   0    0    1   0   0   0
7866   995817-UZC  2017    0   0   0   0   0   0   0    0    0   0   0   4
7867   995817-UZC  2018    0   0   2   2   4   2   2    3    2   0   0   0
7868   995826-DZL  2018    0   0   0   0   0   2  23   15    3   0   0   0
7869   995835-MZU  2018    0   0   0   0   0   0   0    0  143   0   0   0
7870   995844-VZD  2017    0   0   0   0   0   0   0    0    0   0   0   9
7871   995844-VZD  2018   10   2   3   4   4   0   2    4    1   0   0   0
7872   995853-EZM  2018    0  60   0   0   0   0   0    0    0   0   0   0
7873   995862-NZV  2017    0   0   0   0   0   0   0    0    0   0   0  16
7874   995862-NZV  2018    6   0   1   4   2   0   0    0    0   0   0   0
7875   995871-WZE  2018   30  49   0   0   0   0   0    0   63   0   0   0
7876   995880-FZN  2018    0   0   0   0   0   0   1    4    2   0   0   0

[7877 rows x 14 columns]

In [15]:
nuevo_frame.columns
dataset_deseado = nuevo_frame.rename(columns={1:'ENE.',2:'FEB.',3:'MAR.',4:'ABR.',5:'MAY.',6:'JUN.',7:'JUL',8:'AGO',9:'SEP',10:'OCT',11:'NOV',12:'DIC'})
dataset_deseado

Meses,CDIGO,AO,ENE.,FEB.,MAR.,ABR.,MAY.,JUN.,JUL,AGO,SEP,OCT,NOV,DIC
0,145698-JAR,2018,0,0,0,0,0,0,0,0,1,0,0,0
1,145699-SAA,2018,0,0,0,0,0,0,0,8,1,0,0,0
2,145700-BAJ,2018,99,2,2,0,0,0,0,0,0,0,0,0
3,145701-KAS,2017,0,0,0,0,0,0,0,0,0,0,1,0
4,145702-TAB,2017,0,0,0,0,0,0,0,0,0,14,4,0
5,145703-CAK,2017,0,0,0,0,0,0,0,0,0,1,7,1
6,145703-CAK,2018,0,0,0,0,0,0,2,0,0,0,0,0
7,145704-LAT,2018,0,61,37,8,1,5,4,0,0,0,0,0
8,145705-UAC,2017,0,0,0,0,0,0,0,0,1,0,0,0
9,145706-DAL,2017,0,0,0,0,0,0,0,0,0,0,35,0
10,145707-MAU,2017,0,0,0,0,0,0,0,0,16,9,25,2
11,145708-VAD,2017,0,0,0,0,0,0,0,0,2,0,0,1
12,145708-VAD,2018,3,0,0,0,0,0,0,0,0,0,0,0
13,145709-EAM,2018,0,0,0,0,0,0,0,0,1,0,0,0
14,145710-NAV,2017,0,0,0,0,0,0,0,0,1,1,3,4
15,145710-NAV,2018,0,2,1,4,6,6,4,0,0,0,0,0
16,145711-WAE,2018,0,0,6,0,0,0,0,0,0,0,0,0
17,145712-FAN,2017,0,0,0,0,0,0,0,0,0,1,2,0
18,145712-FAN,2018,0,0,1,0,0,0,0,0,0,0,0,0
19,145713-OAW,2018,0,0,1,0,0,0,0,0,0,0,0,0
20,145714-XAF,2017,0,0,0,0,0,0,0,0,0,0,43,61
21,145714-XAF,2018,2,0,0,0,1,0,0,0,0,0,0,0
22,145715-GAO,2017,0,0,0,0,0,0,0,0,0,0,18,74
23,145715-GAO,2018,2,0,3,0,0,1,0,0,0,0,0,0
24,145716-PAX,2018,0,12,9,0,0,0,0,0,0,0,0,0
25,145717-YAG,2018,0,96,4,0,0,10,40,50,0,0,0,0
26,145718-HAP,2018,0,5,1,23,39,8,6,0,0,0,0,0
27,145719-QAY,2017,0,0,0,0,0,0,0,0,8,3,24,6
28,145719-QAY,2018,7,0,0,0,0,2,7,8,4,0,0,0
29,145720-ZAH,2018,0,0,0,0,0,0,0,103,96,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,995691-YZG,2018,1,1,0,0,0,0,0,0,0,0,0,0
7848,995700-HZP,2018,3,34,47,33,17,0,0,0,0,0,0,0
7849,995709-QZY,2018,4,0,0,0,2,0,0,0,0,0,0,0
7850,995718-ZZH,2017,0,0,0,0,0,0,0,0,1,3,3,0
7851,995718-ZZH,2018,0,0,0,0,1,0,2,0,0,0,0,0
7852,995727-IZQ,2017,0,0,0,0,0,0,0,0,0,1,0,0
7853,995736-RZZ,2017,0,0,0,0,0,0,0,0,1,3,10,1
7854,995736-RZZ,2018,3,0,0,5,1,1,1,0,0,0,0,0
7855,995745-AZI,2017,0,0,0,0,0,0,0,0,3,4,0,0
7856,995754-JZR,2017,0,0,0,0,0,0,0,0,1,0,0,0
7857,995763-SZA,2017,0,0,0,0,0,0,0,0,2,2,0,0
7858,995772-BZJ,2017,0,0,0,0,0,0,0,0,0,0,0,1
7859,995772-BZJ,2018,9,1,8,0,0,0,1,0,4,0,0,0
7860,995781-KZS,2017,0,0,0,0,0,0,0,0,0,0,0,1
7861,995781-KZS,2018,4,0,0,3,4,2,5,2,0,0,0,0
7862,995790-TZB,2017,0,0,0,0,0,0,0,0,0,0,0,5
7863,995790-TZB,2018,137,79,94,14,42,15,45,51,29,0,0,0
7864,995799-CZK,2018,0,0,0,0,4,1,2,1,2,0,0,0
7865,995808-LZT,2018,0,0,0,0,0,0,0,0,1,0,0,0
7866,995817-UZC,2017,0,0,0,0,0,0,0,0,0,0,0,4
7867,995817-UZC,2018,0,0,2,2,4,2,2,3,2,0,0,0
7868,995826-DZL,2018,0,0,0,0,0,2,23,15,3,0,0,0
7869,995835-MZU,2018,0,0,0,0,0,0,0,0,143,0,0,0
7870,995844-VZD,2017,0,0,0,0,0,0,0,0,0,0,0,9
7871,995844-VZD,2018,10,2,3,4,4,0,2,4,1,0,0,0
7872,995853-EZM,2018,0,60,0,0,0,0,0,0,0,0,0,0
7873,995862-NZV,2017,0,0,0,0,0,0,0,0,0,0,0,16
7874,995862-NZV,2018,6,0,1,4,2,0,0,0,0,0,0,0
7875,995871-WZE,2018,30,49,0,0,0,0,0,0,63,0,0,0
7876,995880-FZN,2018,0,0,0,0,0,0,1,4,2,0,0,0

In [16]:
quality_report(dataset_deseado)

,Data type,missing values,present values,unique values,minimum values,maximun values
Meses,,,,,,
CDIGO,object,0,7877,6005,145698-JAR,995880-FZN
AO,int64,0,7877,2,2017,2018
ENE.,int64,0,7877,118,0,155
FEB.,int64,0,7877,99,0,169
MAR.,int64,0,7877,94,0,148
ABR.,int64,0,7877,94,0,191
MAY.,int64,0,7877,91,0,123
JUN.,int64,0,7877,56,0,88
JUL,int64,0,7877,71,0,106
AGO,int64,0,7877,77,0,136
SEP,int64,0,7877,80,0,181
OCT,int64,0,7877,48,0,90
NOV,int64,0,7877,115,0,250
DIC,int64,0,7877,121,0,173